div .headerContainerStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

div .breadcrumbContainerStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div .breadcrumbActionStyle {
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  color: #fe6d73;
  cursor: pointer;
  margin-right: 6px;
}

div .breadcrumbCurrentStyle {
  font-weight: 400;
  font-size: 14px;
  color: #b6b29e;
}

div .buttonContainerDiv {
  display: flex;
  flex-direction: row;
}

div .buttonIconStyle {
  margin-right: 8px;
}

div .acceptButtonStyle {
  border-radius: 8px;
  background-color: #35ab68;
  padding: 10px 21px;
  margin-right: 13px;
  width: 140px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #309c5f;
  }
}

div .rejectButtonStyle {
  border-radius: 8px;
  background-color: #c93046;
  padding: 10px 21px;
  width: 140px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #b92d42;
  }
}

div .cardStyle {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px RGBA(0, 0, 0, 0.2);
  padding: 0px;
}

div .cardBodyStyle {
  padding: 28px 30px;
}

div .contentTitleDiv {
  font-weight: 700;
  font-size: 22px;
  color: #474954;
  margin-bottom: 2px;
}

div .contentSubtitleContainerDiv {
  margin-bottom: 32px;
}

div .contentCreatedDiv {
  font-weight: 400;
  font-size: 15px;
  color: #474954;
}

div .contentSubTitleDiv {
  font-weight: 500;
  font-size: 16px;
  color: #474954;
}

div .imageStyle {
  height: 350px;
  width: 520px;
  margin-bottom: 25px;
}

div .descriptionStyle {
  font-weight: 400;
  font-size: 15px;
  color: #474954;
}

div .sourceLinkContainerDiv {
  margin-top: 41px;
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #474954;
}

div .articleUrlStyle {
  font-weight: 400;
  font-size: 14px;
  color: #fe6d73;
  text-decoration: underline;
}
