div .cardStyle {
  padding: 0px;
  margin-bottom: 30px;
}

div .cardBodyStyle {
  padding: 45px;
}

div .titleContainerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}

div .titleStyle {
  font-weight: 700;
  font-size: 18px;
  color: #0d3b66;
  margin-right: 10px;
}

div .ratingCreationContainerDiv {
  display: flex;
  align-items: center;
}

div .ratingContainerDivStyle {
  border-radius: 8px;
  background-color: RGBA(255, 206, 54, 0.05);
  padding: 5px 10px;
  width: fit-content;
  margin-right: 4px;
}

div .disableRatingContainerDivStyle {
  border-radius: 8px;
  background-color: RGBA(71, 73, 84, 0.05);
  padding: 5px 10px;
  width: fit-content;
  margin-right: 4px;
  margin-left: auto;
}

// div .ratingIconStyle {
//   margin-right: 6px;
//   color: #ffce36;
// }

// div .disableRatingIconStyle {
//   margin-right: 6px;
//   color: RGBA(71, 73, 84, 0.1);
// }

div .reviewsCounterStyle {
  font-weight: 500;
  font-size: 14px;
  color: #fe6d73;
}

div .disableReviewsCounterStyle {
  font-weight: 500;
  font-size: 14px;
  color: #e1e1e1;
}

div .noReviewsContainerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div .noReviewImageStyle {
  margin-bottom: 27px;
}

div .noReviewTextStyle {
  font-weight: 500;
  font-size: 15px;
  color: #899cad;
}

div .reviewEntryDiv {
  margin-bottom: 25px;
}

div .reviewHeaderContainerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
  width: fit-content;
  padding: 5px 15px 5px 6px;
  border-radius: 20px;
  background-color: RGBA(137, 156, 173, 0.1);
}

div .taskTypeNameStyle {
  font-weight: 700;
  font-size: 14px;
  color: #0d3b66;
  margin-left: 5px;
  margin-right: 10px;
}

div .taskDateStyle {
  font-weight: 400;
  font-size: 12px;
  color: #0d3b66;
}

div .requesterContainerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

div .imageContainerDiv {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

div .requesterNameStyle {
  font-weight: 600;
  font-size: 14px;
  color: #474954;
}

div .commentStyle {
  font-weight: 400;
  font-size: 14px;
  color: #474954;
}
