div .containerDiv {
  margin-right: 185px;
}

div .titleStyle {
  font-weight: 700;
  font-size: 16px;
  color: #474954;
  margin-bottom: 5px;
}

div .contactContainerDiv {
  border-radius: 4px;
  background-color: #f8f8f8;
  width: auto;
  margin-bottom: 10px;
  padding: 10px 14px;
}

div .contactNameStyle {
  font-weight: 600;
  font-size: 14px;
  color: #474954;
  margin-bottom: 2px;
}

div .contactPhoneNumber {
  font-weight: 400;
  font-size: 12px;
  color: #474954;
}
