div .cardStyle {
  padding: 0px;
  margin-bottom: 30px;
}

div .cardBodyStyle {
  padding: 45px;
}

div .dividerStyle {
  color: #f1f1f1;
  margin: 40px 0px;
}

div .volunteerQualificationsContainerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
