div .titleStyle {
  font-weight: 700;
  font-size: 16px;
  color: #474954;
  margin-bottom: 5px;
}

div .languageAndConditionsStyle {
  font-weight: 500;
  font-size: 14px;
  color: #474954;
  word-break: break-all;
  margin-bottom: 53px;
}
